@media screen and (max-width: 1100px)
{
    footer{
        position: relative;
        height: auto;
    }
    main{
        height: auto;
    }
}
/* Pro tablety */
@media screen and (max-width: 770px){


    body{
        background: rgb(184,81,52);
        background: linear-gradient(90deg, rgba(184,81,52,1) 0%, rgba(237,195,169,1) 100%);
    }
    header{
        background: rgb(184,81,52);
        background: linear-gradient(90deg, rgba(184,81,52,1) 0%, rgba(237,195,169,1) 100%);
        
    }
    h1{
        text-align: center;
        font-size: 6vw;
    }
    h2{
        font-size: 5vw;
    }
    ul li{
        display: block;
        margin: 0;
        border-radius: 0;
        text-align: center;
        border: 1px solid rgb(184,81,52);
    } 

    .footer-navbar{
        padding-left: 0;
    }
    .email-form{
        margin-top: 0;
    }
    .email-form p{
        padding-right: 0;
    }
    .email-form form button{
        margin-right: 0;
    }
    #date{
        position: absolute;
        right: 0;
        bottom: 15%;
    }
}

/* Pro mobily */
@media screen and (max-width: 505px){
    header{
        height: auto;
    }
    .footer-navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: auto;
        float: none;
        padding-bottom: 1em;
    }
    .email-form p{
        text-align: center;
    }
    .email-form form input{
        float: left;
    }
    .email-form form button{
        float: none;
        width: auto;
    }
    #date{
        position: static;
        text-align: center;
    }
    .copyright{
        position: static;
        text-align: center;
    }
    .email-form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headline{
        display: none;
    }
    h2{
        font-size: 30pt;
    }
    main{
        margin: 50px 0 50px 0;
    }

}