@media screen and (max-width: 1200px)
{
    .meeting{
        display: block;
        columns: 2;
    }
}
/* Pro tablety */
@media screen and (max-width: 770px){
    ul li{
        display: block;
        margin: 0;
        border-radius: 0;
        text-align: center;
        border: 1px solid rgb(184,81,52);
    } 
    footer{
        position: relative;
        height: auto;
    }
    .footer-navbar{
        padding-left: 0;
    }
    .email-form{
        margin-top: 0;
    }
    .email-form p{
        padding-right: 0;
    }
    .email-form form button{
        margin-right: 0;
    }
    #date{
        position: absolute;
        right: 0;
        bottom: 15%;
    }

}
/* Pro mobily */
@media screen and (max-width: 505px){
    .footer-navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: auto;
        float: none;
        padding-bottom: 1em;
    }
    .email-form p{
        text-align: center;
    }
    .email-form form input{
        float: left;
    }
    .email-form form button{
        float: none;
        width: auto;
    }
    #date{
        position: static;
        text-align: center;
    }
    .copyright{
        position: static;
        text-align: center;
    }
    .email-form{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


