
*{
padding: 0;
margin: 0;
box-sizing: border-box;
--color: rgb(199, 139, 70);
}
body{
background: rgb(184,81,52);
background: linear-gradient(90deg, rgba(184,81,52,1) 0%, rgba(237,195,169,1) 100%);
}
nav{
padding-top: 2em;
}
ul li{ 
display: inline;
margin: 1em;
border-radius: 200px;
background-color: var(--color);
list-style-type: none; 
transition: 0.5s;  
}
li{
font-size: 30pt;
}
li a{
text-decoration: none;
color: white;
padding: 15px;
}
li:hover > a{
color: black;
}
ul li:hover{
background-color: white;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: rgb(131, 76, 13);
    color: white;
    overflow: hidden;
}
.footer-navbar{
margin-top: 3px;
display: flex;
flex-direction: column;
row-gap: 10px;
padding-left: 10%;
float: left;
}
.footer-navbar > div a{
text-decoration: none;
color: white;
padding: 15px;
opacity: 0.8;
}
.footer-navbar > div a:hover{
opacity: 1;
}
.email-form{
margin-top: 50px;
}
.email-form p{
text-align: right;
padding-right: 80px;
font-size: 15pt;
}
.email-form form input{
float: right;
font-size: 12pt;
border: white;
text-align: center;
width: 200px;
height: 50px;
background-color: white;
border-right: 2px solid black;
color: black;
}
.email-form form button{
cursor: pointer;
float: right;
font-size: 12pt;
border: white;
text-align: center;
width: 200px;
height: 50px;
background-color: white;
color: black;
font-family:Georgia, 'Times New Roman', Times, serif;
margin-right: 4%;
box-shadow: inset 0 0 0 0 black;
transition: ease-out 1s;
}
.email-form form button:hover{
    box-shadow: inset 300px 0 0 0 black;
    color: white;
}
h1{
color: white;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 50pt;
}
.headline{
display: flex;
align-items: center;
justify-content: center;
height: 20vh;
}
main p{
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 20pt;
padding: 10px;

}
footer .copyright{
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;

}
.main-content{
width: 90%;
height: auto;
margin: auto;
}
.text{
    padding-top: 4em;
    display: flex;
    columns: 3;
}
#date{
    display: flex;
    justify-content: center;
    align-self: center;
}
footer p{
    text-align: center;
    }